caption {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
  padding: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  justify-items: center;
  row-gap: 15%;
}

.overall-card {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  background-color: #12151C;
  box-shadow: 10px 10px 10px #000000;
}

/* CSS put in for border line under date header in WorkoutDate file */
/* .date-header {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  border-bottom: 1px solid #FFFFFF;
  width: 90%;
} */

#card-edit-btn {
  padding: 14px 28px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #12151C; 
  border: 2px solid #BEBEBE;
  border-radius: 25px;
  color: white;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#card-edit-btn:hover {
  background-color: #131d31; 
  border: 2px solid #FFFFFF;
}

/* Hides empty action button cells so empty circle clolumn doesn't appear when
workout card isn't being edited */
td:empty {
  display: none;
}
