caption {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
  padding: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  justify-items: center;
  row-gap: 15%;
}

.overall-card {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  background-color: #12151C;
  box-shadow: 10px 10px 10px #000000;
}

.date-header {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  border-bottom: 1px solid #FFFFFF;
  width: 90%;
}