/* NOT RESPONSIVE YET, MAY ONLY WORK RIGHT ON CERTAIN RESOLUTIONS */

body {
  font-family: system-ui, Arial, Avenir, Helvetica, sans-serif;
  background-color: #508991;
  /* Used to remove default space between Navbar and outer edge of screen */
  margin: 0;
}

p {
  font-size: 25px;
  font-weight: bold;
  color: #75DDDD;
  margin-bottom: 155px;
}

img {
  height: 75px;
  width: 75px;
}

.nav-buttons:hover {
  background-color: #00ffb7;
}







